{% extends 'base.html' %} 

{% block title %}
    Login 
{% endblock %}

{% block content %} 
    <div class='container'>
        <div class="text-center">
            <h1>Login</h1>
            <img width="300" height="150" class="mb-4 mt-4" src='https://twilio-cms-prod.s3.amazonaws.com/original_images/flask-oauth.png' alt='Flask Market'>
        </div>
        <form class="form-signin w-50 m-auto" method='POST'>
            <!-- Prevent Form from attack -->
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.username.label() }}
                {{ form.username(class="form-control", placeholder="Enter an username") }}
            </div>
            <div class="mb-3">
                {{ form.password.label() }}
                {{ form.password(class="form-control", placeholder="Enter a password") }}
            </div>
            <div class="checkbox mb-3">
               <h6>Don't have an account?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}
